
@model IEnumerable<SocialNetwork.Models.ApplicationUser>

@{
    ViewBag.Title = "Applications";
}

<table class="table">
    <tr>
        <td><h2>@Html.ActionLink("Друзья", "Friends")</h2></td>
        <td><h2><u>@Html.ActionLink("Заявки", "Applications")</u></h2></td>
    </tr>
</table>

<form action="Applications" method="post" class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" name="Filter" class="form-control" placeholder="Найти">
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</form>


@*<form asp-controller="Movies" asp-action="Index">
        <p>
            <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>*@


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FirstName + " " + item.LastName, "Id", new { id = item.Id })
            </td>
            <td>
                <a href="/Userpage/Confirmfriendapplications?id=@item.Id" class="btn btn-success">Принять заявку</a>
                <a href="/Userpage/Deletefriendapplications?id=@item.Id" class="btn btn-light">Отменить заявку</a>
            </td>
        </tr>
    }

</table>
