@model IEnumerable<SocialNetwork.Models.Subscriber>

@{
    ViewBag.Title = "Subscribers";
}

<h2>Подписчики</h2>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.ActionLink(" ", "Deleteeditor", new { ComId = ViewBag.ComId, UserId = item.UserId }, new { @class = "glyphicon glyphicon-remove" })
                <span>Удалить редактора</span>
            </td>
        </tr>
    }


</table>
