@{
    ViewBag.Title = "О сайте";
}

<div class="container body-start">
    <div class="row">
        <div class="jumbotron">
            <h2>@ViewBag.Title.</h2>

            <p>
                Сайт предназначен для предоставления пользователям инструмента общения, обмена мнениями и получения информации в сети Интернет.
            </p>
        </div>
    </div>
</div>
