@{
    ViewBag.Title = "Контакты";
}
<div class="container body-start">
    <div class="row">
        <div class="jumbotron">
            <h2>@ViewBag.Title.</h2>

            <address>
                Томск<br />
                Вершинина 39А, комната 304<br />
            </address>

            <address>
                <strong>Поддержка:</strong>   <a href="mailto:v.vl.stepanenko@example.com">v.vl.stepanenko@example.com</a><br />
            </address>
        </div>
    </div>
</div>